.photos-container {
  width: 100%;
  /* height: 100%; */
  /* border: solid black 1px; */
  background-color: white;
  margin-bottom: 50px;
  font-family: Kanit;
  font-size: 20px;
}

.photos-container h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 200;
}

.photos-title {
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

.photos-title h2 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 20px;
}
.photos-carousels {
  display: flex;
  justify-content: center;
  align-items: start; /* voir ici */
  width: 100%;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.photos-carousel-options {
  width: 400px;
  height: 100% !important;
  object-fit: cover;
  border: 1px solid black;
  background-color: rgb(236, 221, 195);
  border-radius: 10px;
  padding: 10px;
}
