.apropos-container {
  width: 100%;
  height: 100%;
  /* border: solid black 1px; */
  background-color: white;
}

.apropos-title {
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: center;
}
/* .apropos-title h1 {
  font-size: 34px;
  font-family: roboto condensed;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
} */
.apropos-title h3 {
  margin-top: 30px;
  font-size: 18px;
  font-family: roboto condensed;
  font-weight: bold;
}
.apropos-content {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
}

.apropos-carousel {
  width: 50%;
  margin-left: 20px;
}

.apropos-text {
  width: 50%;
  text-align: justify;
  margin-right: 20px;
  font-family: roboto condensed;
  font-size: 15px;
  line-height: 20px;
}
