.home-background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.home-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
<<<<<<< HEAD
  background-image: url("../../assets/img/home-background.jpg");
=======
  background-image: url("https://raw.githubusercontent.com/flaviamonteiroinstitut/flaviamonteiro/main/src/assets/img/home-background.jpg");
>>>>>>> e423bf8 (all)
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.home-logo {
  max-width: 500px;
}
