/* Style for the background overlay */
.home-background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

/* Styling for the overlay (container) */
.home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/flaviamonteiroinstitut/flaviamonteiro/main/src/assets/img/new-backgroung.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  justify-content: flex-end; /* Align buttons to the bottom */
  align-items: center;

}

/* Common button styling */
.home-button {
  position: relative;
  width: 150px;
  height: 35px;
  background-color: #fcf2dd;
  border: black 1px solid;
  border-radius: 10px;
  font-size: 16px;
  color: black;
  font-family: Kanit;
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Position the first button */
.home-button:first-of-type {
  z-index: 1; /* Front button */
}

/* Position the second button */
.second-button {
  z-index: 0; /* Back button */
}

/* Media query for screens with width 520px or less */
@media (max-width: 520px) {
  .home-overlay {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    justify-content: flex-end; /* Align buttons to the bottom */
    align-items: center;
  }

  /* Button styling for mobile */
  .home-button {
    width: 150px; /* Adjust width for mobile */
    height: 30px; /* Adjust height for mobile */
    font-size: 14px; /* Smaller font size for mobile */
  }

  .home-button:first-of-type {
    bottom: 50px; /* Position the first button */
    z-index: 1; /* Ensure it stays in front */
  }

  .second-button {
    bottom: 100px; /* Position the second button below the first one */
    z-index: 0; /* Ensure it stays behind the first one */
  }
}
