.home-background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.home-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/flaviamonteiroinstitut/flaviamonteiro/main/src/assets/img/home-background.jpg");
  background-size: cover;
  background-position: center;
  /* z-index: -1; */
}
.home-button {
  position: absolute;
  bottom: 4%; /* Adjust the value to position the button as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 110px;
  height: 35px;
  background-color: #fcf2dd;
  border: black 1px solid;
  border-radius: 10px;
  font-size: 16px;
  color: black;
  font-family: Kanit;
  font-weight: 200;
  text-align: center;
  cursor: pointer;
}

/* Media query for screens with width 520px or less */
@media (max-width: 520px) {
  .home-overlay {
    position: relative;
  }

  .home-button {
    position: absolute;
    bottom: 100px; /* Adjust the value to position the button as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}
