.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  align-content: left;
  width: 95vw;
  height: 80px;
  margin: 0 auto;
  margin-top: 15px;
  background-color: white;
  color: black;
  font-family: Kanit;
  font-weight: 200;
}
.footer-logo {
  width: 300px;
}

.footer-items {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.footer-title {
  font-size: 17px;
  font-weight: 200;
  margin-bottom: 10px;
}
.footer-text {
  font-size: 16px;
  line-height: 1.1;
}

.footer-text a {
  text-decoration: none;
  color: black;
}

.footer-social {
  display: flex;
  text-align: center;
  gap: 25px;
  margin-right: 40px;
}
.footer-social img {
  margin-bottom: 5px;
}

.footer-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 200;
}

.footer-insta {
  width: 30px;
}
.footer-mentions a {
  display: block;
  color: black;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.legal-mentions-text {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.2;
  font-family: Kanit;
  font-weight: 200;
}

.legal-mentions-close {
  display: block;
  text-align: center;
  font-size: 12px;
  font-family: Kanit;
  color: #555;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (max-width: 520px) {
  .footer-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    justify-content: center; /* Center items vertically on smaller screens */
    align-items: center; /* Center items horizontally on smaller screens */
    gap: 10px; /* Add some space between the items */
    height: auto; /* Allow the footer to grow in height as needed on smaller screens */
  }

  .footer-logo {
    /* Adjust the width if necessary */
    max-width: 250px;
  }

  .footer-items,
  .footer-social {
    text-align: center; /* Center the text on smaller screens */
    margin: 0; /* Remove margin on smaller screens */
    margin-bottom: 10px;
  }
}
